{% extends "dashboard.html" %}
{% load humanize %}



{% block content %}

<div class="container m-4">
    <h2 class="mb-3 text-center">Severance Pay Journal Entries</h2>

    <!-- Journal Entries for Each Month (Accrual and Payment) -->
    <h4 class="text-center">Journal Entries for Each Month</h4>
    <hr>
    <h4>Severance Pay Journal Entry</h4>

    <!-- Accrual Journal Entry -->
    {% for entry in severance_summary_month_year %}

    <div class="card mb-4" id="month-severance-accrual-entry-{{ entry.id }}">
        <h4 class="text-center m-2">Severance Pay Accrual Entry for {{ entry.severance_record_month__payroll_month }}</h4>
        <div class="table-responsive col-md-12">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Severance Pay Expense</td>
                    <td>{{ entry.total_gross_severance|default:"0.00"|floatformat:2|intcomma }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Severance Employment Income Tax Payable</td>
                    <td></td>
                    <td>{{ entry.total_employment_income_tax_from_severance_pay|default:"0.00"|floatformat:2|intcomma }}</td>
                </tr>
                <tr>
                    <td>Severance Payable</td>
                    <td></td>
                    <td>{{ entry.total_net_severance_pay|default:"0.00"|floatformat:2|intcomma }}</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
    <hr>
    <div class="m-2 d-flex justify-content-center align-items-center">
        <button class="btn btn-primary mt-2"
                onclick="printCommon('month-severance-accrual-entry-{{ entry.id }}')">
            Save or Print Accrual Entry for {{ entry.month }} {{ entry.year }}
        </button>
    </div>
    <hr>
    {% endfor %}

    <!-- Payment Journal Entry -->
    {% for entry in severance_summary_month_year %}
    <div class="card" id="month-severance-payment-entry-{{ entry.id }}">
        <h4 class="card-title text-center m-2">Severance Payment Entry for {{ entry.severance_record_month__year }}</h4>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Account Name</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Severance Payable</td>
                    <td>{{ entry.total_net_severance_pay|default:"0.00"|floatformat:2|intcomma }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total Severance Employment Income Tax Payable</td>
                    <td>{{ entry.total_employment_income_tax_from_severance_pay|default:"0.00"|floatformat:2|intcomma }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cash</td>
                    <td></td>
                    <td>{{ entry.total_gross_severance|default:"0.00"|floatformat:2|intcomma }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="m-2 d-flex justify-content-center align-items-center">
        <button class="btn btn-success mt-2"
                onclick="printCommon('month-severance-payment-entry-{{ entry.id }}')">
            Save or Print Payment Entry for {{ entry.month }} {{ entry.year }}
        </button>

    </div>
    <hr>
    {% endfor %}

</div>
<!---->

{% endblock %}
