{% extends 'dashboard.html' %}
{% load humanize %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'export_combined_monthly_summary_to_excel' %}" class="btn btn-success mb-3">
            <i class="bi bi-file-earmark-spreadsheet"></i> Export Monthly Payroll Summary to Excel
        </a>
    </div>

    <h3 class="mb-4 text-center">Monthly Adjustment Accrual Journal Entry</h3>

    {% if page_obj %}
        {% for item in page_obj %}
            <div class="card mb-5 shadow-sm">
                <div class="card-header bg-info text-white d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Monthly Adjustment Journal Entry For {{ item.month }}</h3>
                    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="collapse"
                            data-bs-target="#combined_monthly_summary_{{ forloop.counter }}"
                            aria-expanded="true" aria-controls="combined_monthly_summary_{{ forloop.counter }}">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                </div>

                <div id="combined_monthly_summary_{{ forloop.counter }}" class="collapse show card-body">
                    <h3 class="mb-2 text-center">Monthly Adjustment Journal Entry For {{ item.month }}</h3>
                    <hr class="my-4 border-2 border-primary"/>

                    <div class="row gy-4">
                        {% if item.adjustment.gross|default_if_none:0 > 0 %}
                            <section class="col-12">
                                <h5 class="border-bottom border-warning pb-1 text-warning">Adjustment</h5>
                                <div class="bg-light p-3 rounded">
                                    <table class="table table-sm table-bordered mb-0">
                                        <thead class="table-light text-start">
                                            <tr>
                                                <th style="width: 30%;">Category</th>
                                                <th style="width: 40%;">Component</th>
                                                <th style="width: 15%;">Debit</th>
                                                <th style="width: 15%;">Credit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Adjustment rows -->
                                            <tr>
                                                <td rowspan="1">Earning</td>
                                                <td>Gross</td>
                                                <td>{{ item.adjustment.gross|default_if_none:0|floatformat:2|intcomma }}</td>
                                                <td>-</td>
                                            </tr>
<!--                                            employer pension-->
                                            <tr>
                                                <td rowspan="1">Employer Pension</td>
                                                <td>Employer Pension</td>
                                                <td>{{ item.adjustment.employer_pension|default_if_none:0|floatformat:2|intcomma }}</td>
                                                <td>{{ item.adjustment.employer_pension|default_if_none:0|floatformat:2|intcomma }}</td>
                                            </tr>

                                            <!-- Deduction row -->
                                            <tr>
                                                <td>Deduction</td>
                                                <td>Total Deduction</td>
                                                <td>-</td>
                                                <td>{{ item.adjustment.total_monthly_adjustment_deduction|default_if_none:0|floatformat:2|intcomma }}</td>
                                            </tr>

                                            <!-- Net row -->
                                            <tr>
                                                <td>Net</td>
                                                <td>Net Adjustment</td>
                                                <td>-</td>
                                                <td>{{ item.adjustment.net_monthly_adjustment|default_if_none:0|floatformat:2|intcomma }}</td>
                                            </tr>

                                            <!-- Expense row -->
                                            <tr>
                                                <td>Total</td>
                                                <td>Total</td>
                                                <td>{{ item.adjustment.expense|default_if_none:0|floatformat:2|intcomma }}</td>
                                                <td>{{ item.adjustment.expense|default_if_none:0|floatformat:2|intcomma }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        {% endif %}
                    </div>

                    <div class="d-flex justify-content-start mt-3 no-print">
                        <button class="btn btn-outline-success btn-sm"
                                onclick="printPayrollPayslip('combined_monthly_summary_{{ forloop.counter }}')">
                            <i class="bi bi-printer"></i> Save or Print
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">No monthly payroll summary data available.</p>
    {% endif %}
</div>
{% endblock %}
