{% extends 'dashboard.html' %}

{% block content %}
<div id="full-page-container">
    <h4 class="card-title">{{ editing|yesno:"Update Department,Create Department" }}</h4>
<form method="post"
      hx-post="{% if editing %}{% url 'department_update' form.instance.pk %}{% else %}{% url 'department_list' %}{% endif %}"
      hx-target="#full-page-container"
      hx-swap="innerHTML"
      hx-push-url="true">
    {% csrf_token %}

    {{ form.as_p }}

    <p class="mt-2">
        <button type="submit" name="save" class="btn btn-success">Save</button>
        <a href="{% url 'department_list' %}" class="btn btn-secondary"
           hx-get="{% url 'department_list' %}"
           hx-target="#full-page-container"
           hx-swap="innerHTML"
           hx-push-url="true">
            Cancel
        </a>
    </p>
</form>

</div>
{% endblock %}
