{% extends "dashboard.html" %}


{% block content %}
  <h2 class="text-center">Show Strategic Action Plan Summary Report by Month</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Months List</th>
      </tr>
    </thead>
    <tbody>
      {% for payroll in payroll_month_summary %}
        <tr>
          <td>
            <a
              hx-get="{% url 'payroll_by_month_summary_report' payroll.payroll_month__slug %}"
              hx-target="#full-page-container"
              hx-swap="innerHTML"
              hx-trigger="click once"
              hx-push-url="{% url 'payroll_by_month_summary_report' payroll.payroll_month__slug %}"
              href="{% url 'payroll_by_month_summary_report' payroll.payroll_month__slug %}"
            >
              {{ payroll.payroll_month__payroll_month__payroll_month }} - Click to show summary report by month
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="summary-report-container" class="mt-4">
    <!-- The summary report will be loaded here dynamically -->
  </div>
{% endblock %}
